<html>

<h1>Bienvenido</h1>

<a>Agregue un nuevo director o actor</a>

<form>
  <% form_tag("/persons/create", method: "post") %>
    <%= text_field_tag("person", :first_name) %>
    <%= text_field_tag("person", :last_name) %>
    <%= text_area_tag("person", :description) %>
    <%= date_select("person", :birth_date) %>
    <th>Actor</th><%= radio_button_tag("actor", "yes") %>
    <th>Director</th><%= radio_button_tag("director", "yes") %>

    <input type="submit" value="Submit">



</form>

</html>

