<!DOCTYPE html>

<body>

<h1>Bienvenido</h1>

<a>Agregue un nuevo director o actor</a>


  <%= form_tag("/person/create", method: "post") do%>
    <%= text_field_tag(:first_name) %> First Name
    <%= text_field_tag(:last_name) %> Last Name
    <%= text_area_tag(:description) %> Description
    <%= date_field_tag(:birth_date) %> Birth Date
    <th>Actor</th><%= radio_button_tag(:role, 'Actor') %>
    <th>Director</th><%= radio_button_tag(:role, 'Director') %>
    <%= submit_tag('Submit') %>
    <% end %>

</body>
 




</html>

